{%extends  'blog/main.html'%}


{%block main_section%}
<h2>Главная страница</h2>
    {%for post in news%}
      <div class="alert alert-light">
        <h2>{{post.title}}</h2>
        <p>{{post.text}}</p>
          <div class="row">
              <div>
                  {% if post.author.profile.img %}
                      <img src="{{ post.author.profile.img.url }}" alt="{{ post.author }} " class="user_image">
                  {% else %}
                      <img src="/pictures/default.jpg" alt="{{ post.author }} " class="user_image">
                  {% endif %}
              </div>
              <div class="mt-2">
                 <span class="text-muted">Дата публикации: {{post.date|date:"d E Y"}}</span>
                     <p><b>Автор: </b><mark>{{post.author}}</mark></p>
              </div>
          </div>
      </div>
    {%endfor%}
{%endblock main_section%}
{%block aside_news_section%}
<h4><b>Всяко-разно</b></h4>
                  <p>
                      <b>Массаж</b>
- это манипуляция с поверхностными и более глубокими слоями мышц и соединительной ткани для улучшения функции, содействия процессу заживления и содействия расслаблению и хорошему самочувствию. Слово происходит от французского massage "разминание трением", или от арабского massa, означающего "прикасаться, чувствовать или обрабатывать", или от латинского massa, означающего "масса, тесто", ср. греческий глагол μάσσω (massō) "трогать, работать руками, месить тесто". В отличие от древнегреческого слова, обозначающего массаж, было anatripsis, а латинское - frictio.

Массаж включает в себя воздействие на тело и манипуляции с ним с помощью давления – структурированного, неструктурированного, неподвижного или движущегося – натяжения, движения или вибрации, выполняемые вручную или с помощью механических приспособлений. Ткани-мишени могут включать мышцы, сухожилия, связки, фасции, кожу, суставы или другую соединительную ткань, а также лимфатические сосуды или органы желудочно-кишечной системы. Массаж можно выполнять кистями, пальцами, локтями, коленями, предплечьями и ступнями. Существует более восьмидесяти различных признанных методов массажа. Наиболее часто приводимыми причинами внедрения массажа в качестве терапии были спрос клиентов и предполагаемая клиническая эффективность.

В профессиональных условиях массаж предполагает, что клиент проходит процедуру, лежа на массажном столе, сидя в массажном кресле или лежа на коврике на полу. Объект массажа может быть полностью или частично раздет. Части тела могут быть прикрыты полотенцами или простынями. Тех, кто занимается массажем в качестве карьеры, называют массажистами или, если они сертифицированы некоторыми организациями, массажистами.
<hr>
В этом тексте использованы материалы из Википедии, лицензированные по CC BY-SA
                  </p>
{%endblock aside_news_section%}