{%extends  'blog/main.html'%}
{%block main_section%}
   <div class="form-section">
       <h2>Вы точно хотите удалить публикацию: {{ object.title }}</h2>
       <form method="POST">
           {%csrf_token%}
           <button type="submit" class="btn btn-outline-danger">Да, удалить публикацию</button>
           <a href="{% url 'news-detail' object.id %}">Нет, отмена удаления.</a>
       </form>
   </div>
{%endblock main_section%}

{%block aside_news_section%}
<h4><b>Всяко-разно</b></h4>
                  <p>
                      Что такое массажная терапия?
Массажная терапия — это простой и эффективный способ улучшить физическое и психическое здоровье. Сеансы обычно длятся от 15 до 90 минут.
                      Существует много различных видов лечебного массажа, некоторые из которых включают:
                      <p>
                  Шведский массаж — классическая форма массажа, которая расслабляет напряженные мышцы и улучшает кровообращение.
                      Кожа и мышцы в пораженных областях мягко поглаживаются, разминаются, растираются, постукиваются и вибрируют.
              </p>

Манипуляции — связки, сухожилия и мышцы массируются, растягиваются, чтобы улучшить подвижность и облегчить боль. Это часто делается в сочетании с методами физиотерапии.
Мобилизация — направлена ​​на перемещение позвоночника, суставов и мышц в организме для улучшения подвижности, расслабления мышц и улучшения осанки.
                      Как и манипуляции, это делается с помощью методов физиотерапии.
Массаж соединительной ткани — лечит болезни, снимая напряжение в соединительной ткани, которая соединяет органы, мышцы и нервы вместе.
Глубокий массаж тканей — лечит глубокие слои мышц, оказывая сильное давление на мышцы и сухожилия.
Миофасциальный (триггерный) массаж — давление специально применяется к вызывающим боль точкам, которые являются сверхчувствительной, напряженной мышечной тканью и спаками соединительной ткани.
                      Идея триггерных точек противоречива, и миофасциальный массаж не всегда эффективен.
Китайский традиционный массаж — умеренное давление на определенные точки тела, используя вращающиеся движения кончиками пальцев; часто делается в сочетании с иглоукалыванием .
Массаж шиацу — японская форма триггерной массажной терапии, в которой для массажа акупунктурных точек используются большие пальцы.
Ручной лимфодренаж — способствует естественному оттоку шлаков из лимфатических узлов.
                  </p>
{%endblock aside_news_section%}
